// ========================================
// Cat Shelter Page Components
// ========================================

// Cat Shelter Layout
.c-cat-shelter {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  @include breakpoint($bp-md) {
    gap: 2rem;
  }
}

.c-cat-shelter__grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;

  @include breakpoint($bp-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint($bp-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}
